@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}

body, html {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}

audio {
  all: initial;
  -webkit-all: initial;
}


div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1, h2, h3, h4, h5, p {
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
}


.app {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.musicBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}