.cardTrack {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #afafaf;
}

.cardImgAndInf {
  display: flex;
  align-items: end;
}

.cardTrackImg {
  margin: 0 10px;
  border-radius: 5px;
}

.cardTrackName {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.trackArtist {
  font-size: 13px;
  font-weight: 300;
  color: #c7c7c7;
}