.musicPlayer {
  width: 78vw;
  height: 70vh;
  background: rgba(183, 183, 183, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.musicPlayerContent {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.tracksPanel {
  overflow: auto;
}

.tracksPanel::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  background: transparent;
}

.tracksPanel::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 15px;
}

