.musicPlayer {
  width: 78vw;
  height: 70vh;
  background: rgba(183, 183, 183, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.display {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: -webkit-fill-available;

}

.musicPlayerContent {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.tracksPanel {
  overflow: auto;
  width: 45vw;
}

.tracksPanel::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.tracksPanel::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 15px;
}

.popularArtist {
  padding: 20px;
}

.listArtists {
  width: 100%;
  display: flex;
  overflow: auto;

}

.listArtists::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}

.listArtists::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 15px;
}

.titlePopularArtist {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.titleSongs {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-left: 20px;
}

.listSongs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nowPlaying {
  margin: auto 10px 0 10px;
  width: 400px;
  height: -webkit-fill-available;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;

}

.decorateBlockHowPlaying {
  font-size: 30px;
  color: #fff;
  height: 50px;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: start;
}

.titleHowPlaying {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
}

.nowPlayingImg {
  margin-top: 5%;
  width: 90%;
  border-radius: 9px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.nowPlayingInf {
  width: 90%;
  height: auto;
  font-size: 12px;
  font-weight: 100;
  color: #fff;
  display: flex;
  justify-content: start;
  margin-top: 20px;
  flex-direction: column;

  h2, h3 {
    font-weight: 200;
  }

  h3 {
    color: #d2d2d2;
  }
}

.line {
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background: #9f9e9e;
  display: flex;
  align-items: center;
}

.nowPlayingMenuinf {
  display: flex;
  justify-content: space-between;

  svg {
    font-size: 30px;

  }
}

.cardTrackUpd {

  button {
    margin-left: 20px;
    min-width: 40px;
  }
}

.titleNextSong {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}