.musicPlayer {
  width: 78vw;
  height: 70vh;
  background: rgba(183, 183, 183, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid white;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.display {
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.musicPlayerContent {
  display: flex;
  overflow: hidden;
}

.tracksPanel {
  overflow: auto;
}

.tracksPanel::-webkit-scrollbar {
  background: transparent;
  width: 3px;
}

.tracksPanel::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 15px;
}

.popularArtist {
  padding: 20px;
}

.listArtists {
  width: 100%;
  display: flex;
  overflow: auto;

}

.listArtists::-webkit-scrollbar {
  background: transparent;
  height: 3px;
}

.listArtists::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 15px;
}

.titlePopularArtist {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

.titleSongs {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-left: 20px;
}

.listSongs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nowPlay {
  margin: 0 10px;
  width: 700px;
  height: 100%;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}