.audioComponentPlayer {
  width: 70vw;
  height: 100px;
  margin-top: 30px;
  background: rgba(183, 183, 183, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audioController {
  display: none;
}

.audioPlayer {
  display: none;
}

.playerControlMenu {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  display: flex;
  height: 70px;
  width: 400px;
  align-items: center;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

.nextAndPrev {
  margin: 15px 5px 0 5px;

  font-size: 40px;
}

.buttonPlayAndPause {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  transition: all .3s;
  border-radius: 50%;
  padding-top: 5px;
}

.buttonPlayAndPause:hover {
  transition: all .3s;
  background: rgba(255, 255, 255, 0.4);

}

.componentInfBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 10px;
  height: 60px;
  margin: 10px 20px;
  box-sizing: border-box;
  backdrop-filter: blur(300px);
  -webkit-backdrop-filter: blur(300px);
  box-shadow: 0 2px 40px 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.componentInfImage {
  border-radius: 5px;
}

.blockInfSong {
  margin: 10px 10px 0 10px;
}

.componentInfTitle {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  align-items: end;
}

.componentInfAuthors {
  font-size: 12px;
  color: #d0d0d0;
  font-weight: 200;
}

.progress_bar {
  width: 410px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 12 pz;
  font-weight: 100;

}

.progress {
  width: 300px;
  height: 5px;
  background: #fff;
  border-radius: 2px;
}

.progress::-webkit-progress-value {
  background: #ffffff !important;
}

.progress::-moz-progress-bar {
  background: #ffffff !important;
}

.progress::-webkit-progress-inner-element {
  background: #fff;
}

.volumeBlock {
  width: 160px;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.iconVolumeBlock {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volumeLine {
  width: 100px;
  height: 3px;
  background: #fff;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 3px;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #f3f3f3;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  background: #6d99c2;
  outline: none;
  border: 2px solid #fff;
  box-shadow: none;

}

.volumeLine:in-range {
  background: #ffffff !important;
}

.volumeLine::-moz-progress-bar {
  background: #ffffff !important;
}

.volumeLine::-webkit-progress-inner-element {
  background: #fff;
}